body {
  min-height: 100vh;
  max-width: 960px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: AliceBlue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dark_mode {
  background-color: #131335;
}

.dark_mode h1 {
  color: white;
}
.dark_mode h3 {
  color: white;
}

.courses_list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

textarea {
  border: none;
  resize: none;
  background-color: lightgoldenrodyellow;
}

textarea:focus {
  outline: none;
}

.all {
  margin-left: 150px;
  font-family: "Goudy Old Style";
  color: rgb(209, 87, 112);
}
.btn {
  margin-left: 150px;
  background-color: cadetblue;
  height: 30px;
  width: 150px;
}
