.course {
  background-color: #dcdcdc;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}
.body {
  margin-left: 20%;
}
.coursImg {
  border-radius: 8px;
  width: 90%;
}
.course_delete {
  float: right;
  width: 20px;
}

.delete_icon {
  cursor: pointer;
  color: #daa520;
  font-size: large;
}
.name {
  font-family: "Hanalei Fill", cursive;
  color: rgb(10, 8, 80);
  font-size: large;
}
