.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.greeting {
  margin-bottom: 130px;
  margin-top: 50px;
  font-family: Book Antiqua;
  color: #080039;
  font-size: large;
}
.wel {
  margin-top: 35px;
 
  color: #b71b0a;
  font-family: "Rockwell Extra Bold";
}
