.header {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.greeting {
  margin-left: 150px;
  font-family: Book Antiqua;
  color: #b8860b;
  font-size: large;
}
.wel {
  margin-left: 150px;
  color: #cd5c5c;
  font-family: "Rockwell Extra Bold";
}
