.navbar {
    height: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
    position: absolute;
    right: 0px;
    width: 40px;


  }
  
  .menu-bars {
    margin-right: 1rem;
    font-size: 1rem;
    margin-top: 0rem;
  }
  
  .nav-menu {
    background-color: white;
    width: 250px;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0;
    right: -100%;
    transition: 850ms;
    border: 1px solid black;

  }
  
  .nav-menu.active {
    right: 0;
    transition: 350ms;
  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    height: 40px;
    color: black;

  }
  .nav-image{
    list-style: none;
    height: 120px;
    color: black;

  }

  .nav-text a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    height: 100%;
    display: flex;
    padding: 0 16px;
    border-radius: 4px;
  }
  

  .nav-menu-items {
    width: -10%;
    color: black;

  }
  
  .navbar-toggle {
    color: black;
    width: 100%;
    margin-bottom: 15px;
    margin-left: -25px;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  span {
    margin-right: 16px;
    color: black;

  }
  