.img1 {
  clip-path: ellipse(33% 50%);
}

.prof {
  background-color: rgb(125, 177, 228);
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}
.name {
  color: #483d8b;
}
