.note_container {
  background-color: #f8f8f8;
  height: 0;
}
/** {
  background-color: #f8f8f8;
}*/
.btn {
  border-radius: 20px;
  border: 1px solid #ea3313;
  background-color: #ea3313;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  margin-top: 8px;
  padding: 14px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn:active {
  transform: scale(0.95);
}

.btn:focus {
  outline: none;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  color: #080039;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  min-height: 20vh;

}

.head {
  color: #080039;
  display: flex;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  padding: 40px 300px;

}
.notes_list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 40px 300px;
  padding-top: 0px;

}
.note {
  background-color: #fef68a;
  border-radius: 10px;
  padding: 1rem;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  width: 100%;
  color: #080039;
  font-size: 26px;
  font-weight: bold;

}
