.calendrier_container {
    width: 300px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  .calendrier_header {
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .react_calendar {
    width: 100%;
    max-width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .react_calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
  }
  
  .react_calendar__month-view__weekdays__weekday {
    padding: 10px;
  }
  
  .react_calendar__tile--active {
    background-color: #4caf50;
    color: #fff;
  }
  
  .react_calendar__navigation button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .react_calendar__navigation button:hover {
    background-color: #3e8e41;
  }
  
  .react_calendar__navigation button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  