@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Poppins");
/*------about us page --------*/

.about_container {
  width: 100%;
  height: 100%;
  margin: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  background-color: white;
  padding-bottom: 40px;
  padding-top: 30px;
}
.image_container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image_container img {
  width: 500px;
  height: 500px;
  margin: 20px;
  border-radius: 10px;
}
.text_container {
  flex: 1;
  display: flex;
  padding-right: 15px;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: 17px;
}
.text_container h1 {
  padding-bottom: 20px;
  font-weight: 900;
  color: #343a40;
}

.text_container p {
  color: #727ca3;
}
.text_container h4 {
  color: black;
  margin: 0%;
}

/* ---------footer----------- */
.body {
  font-family: "Poppins";
  font-size: 12px;
  color: #fff;
  text-transform: capitalize;
  margin: 0%;
  height: 200px;
}
footer {
  width: auto;
  background-color: #ea5822;
  padding: 0 150px 0;
  margin-top: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer p {
  line-height: 180%;
  color: #fff;
}

footer h5 {
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 17px;
  color: white;
  font-weight: bold;
}
footer a {
  text-decoration: none;
  color: #ccbed5;
}
footer div .one {
  margin-bottom: 0px;
  text-transform: none;
}
footer .details {
  display: flex;
  flex-wrap: wrap;
}
footer .details div {
  width: 150px;
  margin-right: 20px;
}
footer .details div p {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}
footer .details div span {
  margin-bottom: 20px;
}
footer .contact {
  width: 340px;
}
footer .information {
  margin-right: 20px;
}
footer .information p {
  margin-bottom: 8px;
  color: white;
  font-weight: bold;
}
footer .account p {
  margin-bottom: 8px;
  width: 150px;
  color: white;
  font-weight: bold;
}
footer .newsletter p,
input {
  padding: 5px;
  color: white;
  font-weight: bold;
}
footer .newsletter p {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
footer .newsletter input {
  width: 170px;
  margin-bottom: 20px;
  border-style: none;
  background-color: #a29e9e;
  color: black;
}
footer .newsletter input::placeholder {
  color: black;
  font-size: 10px;
}
footer .newsletter button {
  padding: 7px 12px;
  margin-left: 4px;
  color: black;
  background-color: transparent;
  font-size: 10px;
  border-style: none;
}
footer .newsletter a {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 5px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}

footer i {
  color: #a432fe;
}
footer i:hover {
  color: #fff;
}
/* start media footer */
